<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 콘솔만: Logback이 Spring 프로파일 적용 전에도 동작. Logstash는 프로파일 분기와 무관하게 켜져 k8s 부팅을 망가뜨릴 수 있음 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="k8s">
        <logger name="com.ecommerce.userservice" level="INFO"/>
        <logger name="org.hibernate.SQL" level="WARN"/>
    </springProfile>

    <springProfile name="default">
        <logger name="com.ecommerce.userservice" level="INFO"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
    </springProfile>
</configuration>
